.footer {
  background-color: rgb(33, 40, 50);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;

  &__title {
    font-size: 4rem;
    padding-right: 0;
  }

  &__link:hover {
    color: rgba(255, 255, 255, 0.86) !important;
    scale: 1.1;
  }

  &__copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
}
