.hero {
  position: relative;
  background: #0061f2;
  background: linear-gradient(163deg, #0061f2 20%, #6900c7 70%);
  background-size: cover;
  background-position: center;
  z-index: 0;

  img {
    @media screen and (max-width: 922px) {
      width: 70%;
    }
  }

  &__text {
    font-size: 1.9rem;
    color: #ffffffb2;
    line-height: 1.6;
  }

  .animated {
    animation: moveToUp 0.5s forwards;
  }
}
