.hero {
  position: relative;
  background: rgb(35, 58, 175);
  background: linear-gradient(
    163deg,
    rgba(35, 58, 175, 1) 29%,
    rgba(132, 42, 199, 1) 85%
  );
  background-size: cover;
  background-position: center;
  z-index: 0;

  img {
    @media screen and (max-width: 922px) {
      width: 70%;
    }
  }

  &__title {
    font-size: 3.8rem;
  }

  &__text {
    font-size: 1.8rem;
  }

  &__button {
    font-size: 1.8rem !important;
  }

  .animated {
    animation: moveToUp 0.5s forwards;
  }
}
