.sidebar {
  font-size: 1.6rem;
  color: #21272a;
  background-color: transparent !important;

  &__nav {
    width: 22.5rem;
    border-radius: 0 !important;
  }

  a {
    color: #21272a !important;

    &:hover {
      color: $color-primary !important;
    }
  }
}
