.methods-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(221, 225, 230, 1);
  color: #21272a;
  transition: all .4s;
  
  &:hover {
    color: #fff;
    background-color: #21272a;
    border-color: #21272a;
    cursor: pointer;
  }

  &__title {
    color: inherit;
    margin: 0;
    font-size: 1.8rem;
  }

  &__icon {
    margin: 0 1rem;
  }
}
