.navbar-brand {
    font-size: 2.8rem !important;
    color: rgb(104, 114, 129) !important;
    font-weight: 700;

    &:hover{
        transition: 0.5s;
        color: rgb(1, 67, 180) !important;
        scale: 1.1;
    }
}

.nav-link {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
    border-bottom: 1px solid transparent;

    &:hover{
        transition: 0.3s ease-in-out;
        color: rgb(1, 67, 180) !important;
        scale: 1.2;
    }
}
.btn-primary {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
}