.section-storage {
  &--box {
    opacity: 0;
  }

  &__img {
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 75%;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .animated {
    animation: moveToLeft 0.5s forwards;
  }
}

.section-usage {
  &__title {
    font-size: 1.9rem !important;
    font-weight: 600 !important;
  }

  &__option {
    font-size: 1.9rem !important;
    font-weight: 600 !important;
  }
}
