.section-storage {
  background-color: rgb(239, 243, 249) !important;

  &--box {
    opacity: 0;
  }

  &__title {
    font-size: 3.2rem;
  }

  &__info {
    font-size: 1.8rem;
    color: rgb(105, 112, 122);
  }

  &__img {
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 75%;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .animated {
    animation: moveToLeft 0.5s forwards;
  }
}

.section-usage {
  &__title {
    font-size: 1.9rem !important;
    font-weight: 600 !important;
  }

  &__option {
    font-size: 1.9rem !important;
    font-weight: 600 !important;
  }
}
