$section-color: rgb(239, 243, 249);

.storage {
  background-color: $section-color !important;

  .storage-title {
    font-size: 3.2rem;
  }

  .storage-info {
    font-size: 1.8rem;
  }

  .cloud {
    width: 50%;
  }
}
