.h1 {
  font-size: $h1 !important;
}

.h2 {
  font-size: $h2 !important;
  color: #323f52;
}

.h3 {
  font-size: $h3 !important;
  color: #323f52;
}

p {
  font-size: $font-default;
  color: $color-gray;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}
